#  Marketing Strategy Analysis

#### 1.   What is the impact if each marketing strategy and sales visit on sales(Amount Collected)?
#### 2.   Is the same strategy valid for all the different client types?

## 1. Loading Data

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import scipy.stats

In [2]:
initial_df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/marketing_analysis/Campaign-Data.csv")

In [3]:
initial_df.columns

Index(['Client ID', 'Client Type', 'Number of Customers', 'Montly Target',
       'Zip Code', 'Calendardate', 'Amount Collected', 'Unit Sold',
       'Campaign (Email)', 'Campaign (Flyer)', 'Campaign (Phone)',
       'Sales Contact 1', 'Sales Contact 2', 'Sales Contact 3',
       'Sales Contact 4', 'Sales Contact 5', 'Number of Competition'],
      dtype='object')

In [4]:
initial_df.head()

,Client ID,Client Type,Number of Customers,Montly Target,Zip Code,Calendardate,Amount Collected,Unit Sold,Campaign (Email),Campaign (Flyer),Campaign (Phone),Sales Contact 1,Sales Contact 2,Sales Contact 3,Sales Contact 4,Sales Contact 5,Number of Competition
0,ID-987275,Medium Facility,2800,125,1003,16-01-2014,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Low
1,ID-987275,Medium Facility,2800,125,1003,16-02-2014,3409460,24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,322500.0,Low
2,ID-987275,Medium Facility,2800,125,1003,18-03-2014,10228384,75,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Low
3,ID-987275,Medium Facility,2800,125,1003,18-04-2014,17047304,123,0.0,0.0,0.0,0.0,3547500.0,1290000.0,0.0,0.0,Low
4,ID-987275,Medium Facility,2800,125,1003,19-05-2014,23866224,171,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Low

In [5]:
initial_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2976 entries, 0 to 2975
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Client ID              2976 non-null   object
 1   Client Type            2976 non-null   object
 2   Number of Customers    2976 non-null   int64
 3   Montly Target          2976 non-null   int64
 4   Zip Code               2976 non-null   int64
 5   Calendardate           2976 non-null   object
 6   Amount Collected       2976 non-null   int64
 7   Unit Sold              2976 non-null   int64
 8   Campaign (Email)       2976 non-null   float64
 9   Campaign (Flyer)       2976 non-null   float64
 10  Campaign (Phone)       2976 non-null   float64
 11  Sales Contact 1        2976 non-null   float64
 12  Sales Contact 2        2976 non-null   float64
 13  Sales Contact 3        2976 non-null   float64
 14  Sales Contact 4        2976 non-null   float64
 15  Sales Contact 5        2976 non-null   float64
 16  Number of Competition  2976 non-null   object
dtypes: float64(8), int64(5), object(4)
memory usage: 395.4+ KB

## 2. Feature Additions and Engineering

In [6]:
initial_df['Calendardate'] = pd.to_datetime(initial_df['Calendardate'])
initial_df['Calendar_Month'] = initial_df['Calendardate'].dt.month
initial_df['Calendar_Year'] = initial_df['Calendardate'].dt.year

<ipython-input-6-8e7c53875481>:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  initial_df['Calendardate'] = pd.to_datetime(initial_df['Calendardate'])

In [7]:
data= initial_df.rename(columns={'Client ID':'client_id', 'Client Type':'client_type', 'Number of Customers':'number_of_customers', 'Montly Target':'monthly_target',
       'Zip Code':'zip_code', 'Calendardate':'calendardate', 'Amount Collected':'amount_collected', 'Unit Sold':'unit_sold',
       'Campaign (Email)':'campaign_email', 'Campaign (Flyer)':'campaign_flyer', 'Campaign (Phone)':'campaign_phone',
       'Sales Contact 1':'sales_contact_1', 'Sales Contact 2':'sales_contact_2', 'Sales Contact 3':'sales_contact_3',
       'Sales Contact 4':'sales_contact_4', 'Sales Contact 5':'sales_contact_5', 'Number of Competition':'number_of_competition'})

In [8]:
data

,client_id,client_type,number_of_customers,monthly_target,zip_code,calendardate,amount_collected,unit_sold,campaign_email,campaign_flyer,campaign_phone,sales_contact_1,sales_contact_2,sales_contact_3,sales_contact_4,sales_contact_5,number_of_competition,Calendar_Month,Calendar_Year
0,ID-987275,Medium Facility,2800,125,1003,2014-01-16,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Low,1,2014
1,ID-987275,Medium Facility,2800,125,1003,2014-02-16,3409460,24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,322500.0,Low,2,2014
2,ID-987275,Medium Facility,2800,125,1003,2014-03-18,10228384,75,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Low,3,2014
3,ID-987275,Medium Facility,2800,125,1003,2014-04-18,17047304,123,0.0,0.0,0.0,0.0,3547500.0,1290000.0,0.0,0.0,Low,4,2014
4,ID-987275,Medium Facility,2800,125,1003,2014-05-19,23866224,171,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Low,5,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2971,ID-987463,Small Facility,800,20,1003,2015-08-16,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Low,8,2015
2972,ID-987463,Small Facility,800,20,1003,2015-09-16,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,High,9,2015
2973,ID-987463,Small Facility,800,20,1003,2015-10-16,0,0,0.0,0.0,0.0,0.0,0.0,2580000.0,0.0,0.0,High,10,2015
2974,ID-987463,Small Facility,800,20,1003,2015-11-16,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,High,11,2015
2975,ID-987463,Small Facility,800,20,1003,2015-12-17,3409460,24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,High,12,2015

## 3. EDA and Statistical Analysis

3.1 Exploring and Understanding basics of dataframe


1.   Distribution of data across different accounts
2.  Difference of Sales in Account types(using categorical mean)


3.2 Statistical Analysis - Answering the Questions


1.  Impact of Marketing Strategy on Sales (Using Correlation, Regression and Decision Tree)
2.  Impact of Competition on Sales
3.  How different types if client can have different strategies(Broken down Question 1 and Question 2 based on Account Type)

### 3.1 Understanding of distributions

In [10]:
data['client_type'].value_counts(normalize=True)

Large Facility      0.459677
Small Facility      0.282258
Medium Facility     0.169355
Private Facility    0.088710
Name: client_type, dtype: float64

In [11]:
pd.crosstab(data['number_of_competition'], data['client_type'], margins=True, normalize='columns')

client_type,Large Facility,Medium Facility,Private Facility,Small Facility,All
number_of_competition,,,,,
High,0.166667,0.166667,0.166667,0.166667,0.166667
Low,0.833333,0.833333,0.833333,0.833333,0.833333

In [12]:
data.groupby('number_of_competition').mean()

<ipython-input-12-a5ea2122809f>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data.groupby('number_of_competition').mean()

,number_of_customers,monthly_target,zip_code,amount_collected,unit_sold,campaign_email,campaign_flyer,campaign_phone,sales_contact_1,sales_contact_2,sales_contact_3,sales_contact_4,sales_contact_5,Calendar_Month,Calendar_Year
number_of_competition,,,,,,,,,,,,,,,
High,1456.935484,75.080645,1003.0,2.974789e+07,213.127016,105398.938508,994046.717540,45198.036895,146945.564516,2.685333e+06,1.786754e+06,72172.379032,8452.620968,10.5,2015.0
Low,1456.935484,75.080645,1003.0,1.445570e+07,103.132258,150862.165766,623692.979839,26693.304194,128219.758065,1.890916e+06,1.883634e+06,70481.854839,15864.919355,5.7,2014.4

In [13]:
data.groupby('client_type').mean()

<ipython-input-13-4df348029c92>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data.groupby('client_type').mean()

,number_of_customers,monthly_target,zip_code,amount_collected,unit_sold,campaign_email,campaign_flyer,campaign_phone,sales_contact_1,sales_contact_2,sales_contact_3,sales_contact_4,sales_contact_5,Calendar_Month,Calendar_Year
client_type,,,,,,,,,,,,,,,
Large Facility,1380.842105,71.578947,1003.0,1.999880e+07,143.098684,142273.609649,8.192056e+05,45595.436623,133667.763158,2.034013e+06,2.017039e+06,119287.280702,16266.447368,6.5,2014.5
Medium Facility,3940.761905,202.857143,1003.0,4.075997e+07,290.583333,437217.097817,1.552603e+06,49176.847619,398645.833333,4.822783e+06,4.698646e+06,85104.166667,33273.809524,6.5,2014.5
Private Facility,400.727273,20.454545,1003.0,5.030246e+06,35.784091,5183.715152,2.272919e+05,5522.470455,1221.590909,6.376705e+05,4.434375e+05,3664.772727,12215.909091,6.5,2014.5
Small Facility,422.514286,21.285714,1003.0,1.637759e+06,11.689286,11975.986310,9.120875e+04,0.000000,8062.500000,7.617143e+05,3.727946e+05,4223.214286,1535.714286,6.5,2014.5

In [14]:
data.corr()[['amount_collected']]

<ipython-input-14-d3f7853342ea>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.corr()[['amount_collected']]

                     amount_collected
number_of_customers          0.607496
monthly_target               0.608204
zip_code                          NaN
amount_collected             1.000000
unit_sold                    0.997515
campaign_email               0.248235
campaign_flyer               0.444337
campaign_phone               0.034858
sales_contact_1              0.277478
sales_contact_2              0.552112
sales_contact_3              0.357887
sales_contact_4              0.236165
sales_contact_5              0.095795
Calendar_Month               0.139425
Calendar_Year                0.286194

### 3.2 Statistical Analysis - Answering the Questions

### Correlation Analysis

In [15]:
## consolidated strategy for targeting
import seaborn as sns
cm=sns.light_palette("green", as_cmap=True)
correlation_analysis=pd.DataFrame(data[['amount_collected',
'campaign_email',	'campaign_flyer',	'campaign_phone',	'sales_contact_1',	'sales_contact_2',	'sales_contact_3',	'sales_contact_4',	'sales_contact_5']].corr()['amount_collected']).reset_index()
correlation_analysis.columns=['impacting_variable', 'degree_of_linear_impact(correlation)']
correlation_analysis=correlation_analysis[correlation_analysis['impacting_variable']!='amount_collected']
correlation_analysis=correlation_analysis.sort_values('degree_of_linear_impact(correlation)', ascending=False)
correlation_analysis.style.background_gradient(cmap=cm).format(precision=2)

### Marketing strategy on sales(broken by different account type)

In [16]:
import seaborn as sns
cm=sns.light_palette("green", as_cmap=True)
correlation_analysis2=pd.DataFrame(data.groupby('client_type')[['amount_collected',
'campaign_email',	'campaign_flyer',	'campaign_phone',	'sales_contact_1',	'sales_contact_2',	'sales_contact_3',	'sales_contact_4',	'sales_contact_5']].corr()['amount_collected']).reset_index()
correlation_analysis2=correlation_analysis2.sort_values(['client_type', 'amount_collected'], ascending=False)
correlation_analysis2.columns=['Acc_Type','variable_impact_on_sales', 'impact']
correlation_analysis2=correlation_analysis2[correlation_analysis2['variable_impact_on_sales']!='amount_collected'].reset_index(drop=True)
correlation_analysis2.style.background_gradient(cmap=cm).format(precision=2)

### Regression Analysis

In [17]:
import statsmodels.api as sm
import statsmodels.formula.api as smf

results = smf.ols('amount_collected ~ campaign_email+campaign_flyer+campaign_phone+\
       sales_contact_1 + sales_contact_2 + sales_contact_3+sales_contact_4 + sales_contact_5',data=data).fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:       amount_collected   R-squared:                       0.480
Model:                            OLS   Adj. R-squared:                  0.478
Method:                 Least Squares   F-statistic:                     342.1
Date:                Thu, 20 Jul 2023   Prob (F-statistic):               0.00
Time:                        11:15:23   Log-Likelihood:                -54512.
No. Observations:                2976   AIC:                         1.090e+05
Df Residuals:                    2967   BIC:                         1.091e+05
Df Model:                           8
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept        1.481e+06   5.12e+05      2.891      0.004    4.77e+05    2.49e+06
campaign_email      0.7932      0.597      1.329      0.184      -0.377       1.963
campaign_flyer      3.3376      0.260     12.831      0.000       2.828       3.848
campaign_phone      0.0734      1.053      0.070      0.944      -1.991       2.137
sales_contact_1     4.2368      0.415     10.207      0.000       3.423       5.051
sales_contact_2     3.6382      0.129     28.155      0.000       3.385       3.892
sales_contact_3     2.3432      0.131     17.925      0.000       2.087       2.600
sales_contact_4    10.9478      1.060     10.331      0.000       8.870      13.026
sales_contact_5     3.5078      4.549      0.771      0.441      -5.412      12.428
==============================================================================
Omnibus:                     1099.749   Durbin-Watson:                   0.624
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             7733.226
Skew:                           1.578   Prob(JB):                         0.00
Kurtosis:                      10.239   Cond. No.                     5.89e+06
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.89e+06. This might indicate that there are
strong multicollinearity or other numerical problems.

In [18]:
df = pd.read_html(results.summary().tables[1].as_html(),header=0,index_col=0)[0]

In [19]:
df

,coef,std err,t,P>|t|,[0.025,0.975]
Intercept,1.481000e+06,512000.000,2.891,0.004,477000.000,2490000.000
campaign_email,7.932000e-01,0.597,1.329,0.184,-0.377,1.963
campaign_flyer,3.337600e+00,0.260,12.831,0.000,2.828,3.848
campaign_phone,7.340000e-02,1.053,0.070,0.944,-1.991,2.137
sales_contact_1,4.236800e+00,0.415,10.207,0.000,3.423,5.051
sales_contact_2,3.638200e+00,0.129,28.155,0.000,3.385,3.892
sales_contact_3,2.343200e+00,0.131,17.925,0.000,2.087,2.600
sales_contact_4,1.094780e+01,1.060,10.331,0.000,8.870,13.026
sales_contact_5,3.507800e+00,4.549,0.771,0.441,-5.412,12.428

In [20]:
df=df.reset_index()
df=df[df['P>|t|']<0.05][['index','coef']]
df

             index          coef
0        Intercept  1.481000e+06
2   campaign_flyer  3.337600e+00
4  sales_contact_1  4.236800e+00
5  sales_contact_2  3.638200e+00
6  sales_contact_3  2.343200e+00
7  sales_contact_4  1.094780e+01

### Regression Analysis (Market Sales and Strategies) - Broken for different account types

In [21]:
consolidated_summary = pd.DataFrame()
for acctype in list(set(list(data['client_type']))):
    temp_data = data[data['client_type'] == acctype].copy()
    results = smf.ols('amount_collected ~ campaign_email + campaign_flyer + campaign_phone + \
       sales_contact_1 + sales_contact_2 + sales_contact_3 + sales_contact_4 + sales_contact_5', data=temp_data).fit()
    df = pd.read_html(results.summary().tables[1].as_html(), header=0, index_col=0)[0].reset_index()
    df = df[df['P>|t|'] < 0.05][['index', 'coef']]
    df.columns = ['Variable', 'Coefficent(Impact)']
    df['AccountType'] = acctype
    df = df.sort_values('Coefficent(Impact)', ascending=False)
    df = df[df['Variable']!= 'Intercept']
    print(acctype)
    consolidated_summary = pd.concat([consolidated_summary, df])
    print(df)

Large Facility
          Variable  Coefficent(Impact)      AccountType
4  sales_contact_1             11.6731  Large Facility
7  sales_contact_4             10.6145  Large Facility
5  sales_contact_2              4.0031  Large Facility
2   campaign_flyer              2.7204  Large Facility
6  sales_contact_3              2.0316  Large Facility
3   campaign_phone             -3.5361  Large Facility
Small Facility
          Variable  Coefficent(Impact)      AccountType
5  sales_contact_2            0.810100  Small Facility
3   campaign_phone           -0.000003  Small Facility
Private Facility
          Variable  Coefficent(Impact)       AccountType
5  sales_contact_2              6.6223  Private Facility
Medium Facility
          Variable  Coefficent(Impact)      AccountType
2   campaign_flyer              4.1059  Medium Facility
5  sales_contact_2              3.5778  Medium Facility
4  sales_contact_1              3.1365  Medium Facility
6  sales_contact_3              2.1174  Medium Facility

In [22]:
import statsmodels.api as sm
import statsmodels.formula.api as smf

BOLD = '\033[1m'
RESET = '\033[0m'

consolidated_summary = pd.DataFrame()

for acctype in set(data['client_type']):
    print(BOLD + acctype + RESET)  # Print acctype in bold font
    temp_data = data[data['client_type'] == acctype].copy()
    results = smf.ols('amount_collected ~ campaign_email + campaign_flyer + campaign_phone + \
       sales_contact_1 + sales_contact_2 + sales_contact_3 + sales_contact_4 + sales_contact_5', data=temp_data).fit()
    df = pd.read_html(results.summary().tables[1].as_html(), header=0, index_col=0)[0].reset_index()
    df = df[df['P>|t|'] < 0.05][['index', 'coef']]
    df.columns = ['Variable', 'Coefficent(Impact)']
    df['AccountType'] = acctype
    df = df.sort_values('Coefficent(Impact)', ascending=False)
    df = df[df['Variable'] != 'Intercept']
    consolidated_summary = pd.concat([consolidated_summary, df])
    print(results.summary())
    print()
    print()
    print()

Large Facility
                            OLS Regression Results
==============================================================================
Dep. Variable:       amount_collected   R-squared:                       0.371
Model:                            OLS   Adj. R-squared:                  0.367
Method:                 Least Squares   F-statistic:                     100.2
Date:                Thu, 20 Jul 2023   Prob (F-statistic):          4.64e-131
Time:                        11:15:23   Log-Likelihood:                -25075.
No. Observations:                1368   AIC:                         5.017e+04
Df Residuals:                    1359   BIC:                         5.021e+04
Df Model:                           8
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept        2.812e+06   9.29e+05      3.026      0.003    9.89e+05    4.63e+06
campaign_email      0.7886      0.936      0.842      0.400      -1.048       2.625
campaign_flyer      2.7204      0.352      7.739      0.000       2.031       3.410
campaign_phone     -3.5361      1.333     -2.653      0.008      -6.151      -0.921
sales_contact_1    11.6731      1.246      9.368      0.000       9.229      14.117
sales_contact_2     4.0031      0.239     16.718      0.000       3.533       4.473
sales_contact_3     2.0316      0.246      8.266      0.000       1.549       2.514
sales_contact_4    10.6145      1.260      8.423      0.000       8.143      13.086
sales_contact_5    -3.6385      6.703     -0.543      0.587     -16.789       9.512
==============================================================================
Omnibus:                      334.998   Durbin-Watson:                   0.655
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1353.896
Skew:                           1.121   Prob(JB):                    1.01e-294
Kurtosis:                       7.327   Cond. No.                     6.22e+06
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 6.22e+06. This might indicate that there are
strong multicollinearity or other numerical problems.



Small Facility
                            OLS Regression Results
==============================================================================
Dep. Variable:       amount_collected   R-squared:                       0.054
Model:                            OLS   Adj. R-squared:                  0.046
Method:                 Least Squares   F-statistic:                     6.829
Date:                Thu, 20 Jul 2023   Prob (F-statistic):           6.63e-08
Time:                        11:15:24   Log-Likelihood:                -14125.
No. Observations:                 840   AIC:                         2.827e+04
Df Residuals:                     832   BIC:                         2.830e+04
Df Model:                           7
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept        8.789e+05   2.07e+05      4.252      0.000    4.73e+05    1.28e+06
campaign_email      1.8882      1.344      1.405      0.160      -0.750       4.526
campaign_flyer      0.0753      0.268      0.281      0.778      -0.450       0.600
campaign_phone  -3.468e-06   8.16e-07     -4.252      0.000   -5.07e-06   -1.87e-06
sales_contact_1    -0.9764      1.655     -0.590      0.555      -4.224       2.271
sales_contact_2     0.8101      0.130      6.218      0.000       0.554       1.066
sales_contact_3     0.3277      0.198      1.656      0.098      -0.061       0.716
sales_contact_4     0.4837      4.427      0.109      0.913      -8.206       9.173
sales_contact_5    -2.6243      7.996     -0.328      0.743     -18.319      13.070
==============================================================================
Omnibus:                      985.034   Durbin-Watson:                   1.006
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            97146.151
Skew:                           5.770   Prob(JB):                         0.00
Kurtosis:                      54.405   Cond. No.                     7.82e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 3.3e-19. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.



Private Facility
                            OLS Regression Results
==============================================================================
Dep. Variable:       amount_collected   R-squared:                       0.346
Model:                            OLS   Adj. R-squared:                  0.326
Method:                 Least Squares   F-statistic:                     16.88
Date:                Thu, 20 Jul 2023   Prob (F-statistic):           4.63e-20
Time:                        11:15:24   Log-Likelihood:                -4650.8
No. Observations:                 264   AIC:                             9320.
Df Residuals:                     255   BIC:                             9352.
Df Model:                           8
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept        4.439e+05    8.3e+05      0.535      0.593   -1.19e+06    2.08e+06
campaign_email      6.6806     17.292      0.386      0.700     -27.374      40.735
campaign_flyer      1.6661      1.125      1.482      0.140      -0.548       3.881
campaign_phone      7.8827     10.196      0.773      0.440     -12.197      27.962
sales_contact_1   -88.9282     47.497     -1.872      0.062    -182.465       4.608
sales_contact_2     6.6223      0.718      9.220      0.000       5.208       8.037
sales_contact_3    -0.7264      0.893     -0.814      0.417      -2.485       1.032
sales_contact_4    19.4954     19.966      0.976      0.330     -19.824      58.815
sales_contact_5    21.7693     13.600      1.601      0.111      -5.013      48.552
==============================================================================
Omnibus:                      274.961   Durbin-Watson:                   1.110
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             9920.407
Skew:                           4.276   Prob(JB):                         0.00
Kurtosis:                      31.788   Cond. No.                     1.79e+06
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.79e+06. This might indicate that there are
strong multicollinearity or other numerical problems.



Medium Facility
                            OLS Regression Results
==============================================================================
Dep. Variable:       amount_collected   R-squared:                       0.437
Model:                            OLS   Adj. R-squared:                  0.428
Method:                 Least Squares   F-statistic:                     48.00
Date:                Thu, 20 Jul 2023   Prob (F-statistic):           4.13e-57
Time:                        11:15:24   Log-Likelihood:                -9461.9
No. Observations:                 504   AIC:                         1.894e+04
Df Residuals:                     495   BIC:                         1.898e+04
Df Model:                           8
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept        5.682e+06   2.53e+06      2.241      0.025    7.01e+05    1.07e+07
campaign_email      1.1260      1.287      0.875      0.382      -1.403       3.655
campaign_flyer      4.1059      0.702      5.851      0.000       2.727       5.485
campaign_phone      2.3077      3.014      0.766      0.444      -3.615       8.230
sales_contact_1     3.1365      0.732      4.284      0.000       1.698       4.575
sales_contact_2     3.5778      0.305     11.717      0.000       2.978       4.178
sales_contact_3     2.1174      0.295      7.168      0.000       1.537       2.698
sales_contact_4    -7.4136      4.497     -1.649      0.100     -16.250       1.422
sales_contact_5     8.2368     10.845      0.760      0.448     -13.071      29.544
==============================================================================
Omnibus:                      103.101   Durbin-Watson:                   0.592
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              197.732
Skew:                           1.144   Prob(JB):                     1.16e-43
Kurtosis:                       5.045   Cond. No.                     1.44e+07
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.44e+07. This might indicate that there are
strong multicollinearity or other numerical problems.

### 4. Final Recommendations

Using the below table we can use the coefficent to see how much return we can derive from each dollar we spend, here we can clearly see that for different account type different Campaigns and Different Sales Contact are effective with different extend.

Case Explanation - Medium Facility
For Example Medium Facility shows decent results with Flyer Campiagns and each dollar spend return 4 dollars on average. Sales Contact 2 is highly effective followed by Sales Contact 1 and Sales Contact 3. Else all other strategy shows no impact can be dropped to save cost.

In [23]:
consolidated_summary

          Variable  Coefficent(Impact)       AccountType
4  sales_contact_1           11.673100   Large Facility
7  sales_contact_4           10.614500   Large Facility
5  sales_contact_2            4.003100   Large Facility
2   campaign_flyer            2.720400   Large Facility
6  sales_contact_3            2.031600   Large Facility
3   campaign_phone           -3.536100   Large Facility
5  sales_contact_2            0.810100   Small Facility
3   campaign_phone           -0.000003   Small Facility
5  sales_contact_2            6.622300  Private Facility
2   campaign_flyer            4.105900   Medium Facility
5  sales_contact_2            3.577800   Medium Facility
4  sales_contact_1            3.136500   Medium Facility
6  sales_contact_3            2.117400   Medium Facility

In [24]:
consolidated_summary.reset_index(inplace=True)
consolidated_summary.drop('index',inplace=True,axis=1)

In [25]:
consolidated_summary.columns = ['Variable','Return on Investment','Account Type']
consolidated_summary['Return on Investment']= consolidated_summary['Return on Investment'].apply(lambda x: round(x,1))
consolidated_summary.style.background_gradient(cmap='RdYlGn')

In [26]:
import seaborn as sns
import matplotlib.pyplot as plt

In [27]:
def format(x):
        return "${:.1f}".format(x)
consolidated_summary['Return on Investment']  = consolidated_summary['Return on Investment'].apply(format)

In [28]:
consolidated_summary.columns = ['Variable','Return_on_Investment','Account Type']
consolidated_summary.style.background_gradient(cmap='RdYlGn')